<div class="center">

  <div id="main">
    <h1>Iso 40 vs Iso 32</h1>

    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon"
            (click)="viewIsoDialog()">
      <mat-icon>info</mat-icon>
    </button>
  </div>

  <div class="row">
    <div class="column">
      <img class="img-frame" src="assets/images/iso40 (2).jpg" alt="iso40" style="width:100%">
    </div>
    <div class="column">
      <img class="img-frame" src="assets/images/iso32.jpg" alt="iso32" style="width:100%">
    </div>
  </div>
</div>
