<mat-carousel timings="250ms ease-in" [autoplay]="true" color="accent" maxWidth="auto" [loop]="true"
    [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="true" [useMouseWheel]="false" orientation="ltr">
    <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index" [image]="slide.image"
        overlayColor="#00000040" [hideOverlay]="false">
        <div
            style="width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center">
            <h1 style="padding: 10px;">Skiferien - M152</h1>
        </div>
    </mat-carousel-slide>
</mat-carousel>