<div class="image">
  <video [muted]="true" autoplay src="assets/videos/video2.mp4" style="min-height: 100%; position: fixed;"></video>
</div>


<div style="margin-top: 50%;
            padding: 7% 5% 0;
            position: relative;
            background-color: rgba(192, 192, 192, 0.4);">
  <h1 class="mb-4">Modul 152 - Video</h1>
  <div class="container">
    <br><br>

    <div style="height: content-box" >
      <h1 class="">Eigenes Video</h1>
      <div style="margin: 0; width: 100%; display: flex; justify-content: center">
      <button (click)="pause()">Pause / Play</button>
      <button (click)="addSpeed()">Speed x5 / 1x</button>
      <button (click)="mute()">Mute / Unmute</button>
      </div>
      <div style="margin: 0; width: 100%; display: flex; justify-content: center">
        <video width="1200" height="900" src="assets/videos/Ski_Wachsen_Aaron_Laeuchli.mp4"  [muted]="true" id="video"></video>
      </div>
    </div>

    <br><br>
    <div style="height: content-box" >
      <h1 class="">Youtube-Video einbinden</h1>
        <div style="margin: 0; width: 100%; display: flex; justify-content: center">
          <iframe width="700" height="500" src="https://www.youtube.com/embed/FRvIotQ1SKc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>

  </div>
</div>
