<mat-drawer-container>
  <mat-drawer #drawer [mode]="isShowHideFlag">
    <mat-icon aria-hidden="false" class="close" (click)="drawer.toggle()">close</mat-icon>
    <h1>Skiferien</h1>
    <mat-list role="list">
      <mat-list-item role="listitem"><a mat-button routerLink="edited">Gallery</a></mat-list-item>
      <mat-list-item role="listitem"><a mat-button routerLink="video">Video</a></mat-list-item>
      <mat-list-item role="listitem"><a mat-button routerLink="add">Upload</a></mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar class="nav ">
      <mat-list role="list">
        <mat-list-item role="listitem"><a mat-button routerLink="edited">Gallery</a></mat-list-item>
        <mat-list-item role="listitem"><a mat-button routerLink="video">Video</a></mat-list-item>
        <mat-list-item role="listitem"><a mat-button routerLink="add">Upload</a></mat-list-item>
      </mat-list>
    </mat-toolbar>

    <div class="silder">
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="desktop-hide" (click)="drawer.toggle()">
        reorder
      </mat-icon>
      <app-carousel></app-carousel>
    </div>

    <div class="features">
      <div class="row">
        <div type="button" class="column" routerLink="mockup">
          <mat-icon aria-hidden="false" aria-label="Example home icon">design_services</mat-icon>
          <h3>Mockup</h3>
          <p>Schau dir das Mockup dieser Website an und vergleiche es mit der tatsächlichen Umsetzung.
          </p>
        </div>
        <div type="button" class="column" routerLink="matrix">
          <mat-icon aria-hidden="false" aria-label="Example home icon">checklist</mat-icon>
          <h3>Entscheidungsmatrix</h3>
          <p>Welches Framework wurde in diesem Projekt aus welchem Grund verwendet?
          </p>
        </div>
        <div type="button" class="column" routerLink="responsive">
          <mat-icon aria-hidden="false" aria-label="Example home icon">close_fullscreen</mat-icon>
          <h3>Responsive
          </h3>
          <p>Diese Website wurde mit Angular Material responsive gemacht.
          </p>
        </div>
      </div>
    </div>

    <div class="contents">
      <div class="row">
        <div class="column">
          <figure><img src="assets/images/goldenerschnitt.jpg"></figure>
        </div>
        <div class="column center-content">
          <h3>Medien von Dritten / Goldener Schnitt
          </h3>
          <p>
            Fotograph/in: Elke Pollakowski
            <br>
            E-Mail: elke.pollakowski@bluewin.ch
            <br>
            <br>
            &copy; Elke Pollakowski
          </p>
        </div>
      </div>
      <div class="row">
        <div class="column center-content">
          <h3>SVG Format</h3>
          <p>Das SVG Format wird meistens für Icons verwendet, da sie in jedem Browser geladen werden können, skalierbar sind, sehr flexibel benutzt werden können und wegen ihrer niedrigen auflösung nicht viel Speicher benötigen.
            In meiner Website wurden SVG-Bilder für den Handmodus in der Navbar sowie für das Favicon verwendet.
          </p>
        </div>
        <div class="column">
          <figure><img src="assets/images/slide2.JPG"></figure>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <figure><img src="assets/images/gifgifgif.GIF"></figure>
        </div>
        <div class="column center-content">
          <h3>GIF
          </h3>
          <p>
            Eine GIF-Datei ist im Gegensatz zum starren JPG meistens animiert und befindet sich in einer Endlosschleiffe.
            GIFs werden häufig benutzt, um Emotionen auszudrücken oder Witze zu animieren.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="column center-content">
          <h3>2/3 Regel</h3>
          <p>Die 2/3 Regel ist, ähnlich wie der Goldene Schnitt, eine angewandte Technik um Proportionen in Bildern gut darzustellen.
          </p>
        </div>
        <div class="column">
          <figure><img src="assets/images/zweidrittel.PNG"></figure>
        </div>
      </div>
    </div>

    <div class="space"></div>


    <div class="contactus">
      <h2>Jetzt für Updates abonnieren</h2>
      <form>
        <mat-form-field appearance="fill">
          <mat-label>Abonnieren</mat-label>
          <input matInput>
        </mat-form-field>
        <button mat-flat-button>Jetzt abonnieren</button>
      </form>
    </div>


    <div class="footer" color="primary">
      <mat-toolbar color="primary">
        <span> &copy; Aaron Läuchli</span>
      </mat-toolbar>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
