<mat-drawer-container>
  <mat-drawer #drawer [mode]="isShowHideFlag">
    <mat-icon aria-hidden="false" class="close" (click)="drawer.toggle()">close</mat-icon>
    <br>
    <h1>Skiferien</h1>
    <mat-list role="list">
      <mat-list-item role="listitem"><a mat-button routerLink="">Menu</a></mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar class="nav">
      <mat-list role="list">
        <mat-list-item role="listitem"><a mat-button routerLink="">Menu</a></mat-list-item>
      </mat-list>
    </mat-toolbar>
    <div class="silder">
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="desktop-hide" (click)="drawer.toggle()">
        reorder
      </mat-icon>
    </div>

<div class="space"></div>

    <div class="contents">
      <div class="row">
        <div class="column">
          <img src="assets/images/landingpage_mockup.JPG">
        </div>
        <div class="column center-content">
          <h3>Landingpage
          </h3>
          <p>Auf der Landinpage soll simpel gezeigt werden welche Inhalte auf der Website zu finen sind.
          </p>
        </div>
      </div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="row">
        <div class="column center-content">
          <h3>Onepager
          </h3>
          <p>
            Die verschiedenen Bilder werden als Onepager dargestellt. Über die Links auf der Landingpage wird man auf der Seite zum gewählten Kapitel weitergeleitet.
          </p>
        </div>
        <div class="column">
          <img src="assets/images/onepager.PNG">
        </div>
       
      </div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="row">
        <div class="column">
          <img src="assets/images/multipager.PNG">  
        </div>
        <div class="column center-content">
          <h3>Multipager
          </h3>
          <p>
            Die verschiedenen Bilder werden als Mehrpager dargestellt. Über die Links auf der Landingpage wird man auf der Seite zum gewählten Kapitel weitergeleitet.
          </p>
        </div>
      </div>
    </div>

    


    <div class="footer" color="primary">
      <mat-toolbar color="primary">
        <span> &copy; Aaron Läuchli</span>
      </mat-toolbar>
    </div>
  </mat-drawer-content>
</mat-drawer-container>