<mat-drawer-container>
  <mat-drawer #drawer [mode]="isShowHideFlag">
    <mat-icon aria-hidden="false" class="close" (click)="drawer.toggle()">close</mat-icon>
    <br>
    <h1>Skiferien</h1>
    <mat-list role="list">
      <mat-list-item role="listitem"><a mat-button routerLink="">Menu</a></mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar class="nav">
      <mat-list role="list">
        <mat-list-item role="listitem"><a mat-button routerLink="">Menu</a></mat-list-item>
      </mat-list>
    </mat-toolbar>

<div class="space"></div>

    <div class="contents">
      <div class="row">
        <div class="column">
          <img src="assets/images/landingpage_mockup.JPG">
        </div>
        <div class="column center-content">
          <h3>Landingpage
          </h3>
          <p>Multimedia-Elemente für Webauftritte nach Vorgabe erstellen und
              bestehende Multimedia-Inhalte aufbereiten, optimieren und in einen
              bestehenden Webauftritt integrieren.
          </p>
        </div>
      </div>
      <div class="space"></div>
      <div class="space"></div>
      <div class="row">
        <div class="column center-content">
          <h3>Bild mit Effekt
          </h3>
          <p>Multimedia-Elemente für Webauftritte nach Vorgabe erstellen und
              bestehende Multimedia-Inhalte aufbereiten, optimieren und in einen
              bestehenden Webauftritt integrieren.
          </p>
        </div>
        <div class="column">
          <img src="assets/images/effectpage_mockup.JPG">
        </div>
       
      </div>
    </div>

    


    <div class="footer" color="primary">
      <mat-toolbar color="primary">
        <span> &copy; Aaron Läuchli</span>
      </mat-toolbar>
    </div>
  </mat-drawer-content>
</mat-drawer-container>