
<mat-drawer-container>
  <mat-drawer #drawer [mode]="isShowHideFlag">
    <mat-icon aria-hidden="false" class="close" (click)="drawer.toggle()">close</mat-icon>
    <h1>Skiferien</h1>
    <mat-list role="list">
      <mat-list-item role="listitem"><a mat-button routerLink="">Home</a></mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar class="nav ">
      <mat-list role="list">
        <mat-list-item role="listitem"><a mat-button routerLink="">Home</a></mat-list-item>
      </mat-list>
    </mat-toolbar>

    <div class="silder">
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="desktop-hide" (click)="drawer.toggle()">
        reorder
      </mat-icon>
      <app-carousel-gallery></app-carousel-gallery>
    </div>


    <div class="space"></div>

    <h1>Schwarz / Weiss - Slider</h1>

    <app-blackwhite></app-blackwhite>

    <div class="space"></div>

    <h1>Unschärfe - Slider</h1>

    <app-blur></app-blur>

    <div class="space"></div>

    <h1>Tiefenschärfe f20 vs f2</h1>

    <app-sharpness-difference></app-sharpness-difference>

    <div class="space"></div>

    <app-iso-difference></app-iso-difference>

    <div class="space"></div>

    <app-jpg-png></app-jpg-png>

    <div class="space"></div>

    <h1>Statische Bildergallerie</h1>

    <app-lightbox></app-lightbox>

    <div class="space"></div>

    <div class="contactus">
      <h2>Jetzt für Updates abonnieren</h2>
      <form>
        <mat-form-field appearance="fill">
          <mat-label>Abonnieren</mat-label>
          <input matInput>
        </mat-form-field>
        <button mat-flat-button>Jetzt abonnieren</button>
      </form>
    </div>


    <div class="footer" color="primary">
      <mat-toolbar color="primary">
        <span> &copy; Aaron Läuchli</span>
      </mat-toolbar>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
